h1{ /* Element selector*/
    color: rgb(220, 35, 35);
}

.about-container {
    text-align: center;
    width: 100%;
    margin: 20px auto;   /* centers the whole block */
}

.about-container h2 {
    background-color: #d8d834;
    padding: 8px 0;
    display: inline-block; /* so the yellow background doesn't stretch full width */
}


.data1 { /* class selector*/
    background-color: rgb(200, 200, 200);
}

body{ /* Universal selector*/
    background-color: rgb(223, 245, 220);
}

label,button{ /* Group selector*/
    font-size: 18px;
}





